:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: 12px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4280f4;
}

p {
  font-size: 12px;
}

ul {
  padding: 10px;
}

ul li {
  list-style: none;
}


/* Container */
.container {
  margin: 0 auto;
  width: 80%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

#nav-menu li {
  display: inline;
  padding: 10px;
}

/* Main */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4280f4;
}

/* Card */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 8px;
}

.main-img {
  width: 40px;
}

/* Footer */
/* Background img */
footer {
  background-image: url("assets/footer-bg.jpg");
}

/* Footer navbar */
#foot-navbar {
  background-color: #242424;
  padding: 15px 0;
}

#content {
  display: flex;
}

#content-list {
  display: flex;
}

.big {
  color: white;
  font-size: 18px;
  line-height: 50px;
}

/* Button */
#content-btn {
  padding: 10px;
}

#btn {
  border: 2px solid #4280f4;
  background-color: transparent;
  padding: 20px;
  font-weight: 700;
}

/* Icon */
#icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Text Follow */
#foot-text {
  color: #4280f4;
  font-weight: 700;
  font-size: 18px;
  padding: 20px;
}